<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelacionenviocobranza.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="4" cellStep="0" name="${lbl:b_shipping_colletion_relationship}"/>
	
	<excel 
		recordset='query-smnrelacionenviocobranza.sql' 
		sheetname='${lbl:b_shipping_colletion_relationship}' 
		filename='${lbl:b_shipping_colletion_relationship}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_entidad_rf_combo' label='${lbl:b_entity}' />
		<col id='smn_sucursal_rf_combo' label='${lbl:b_branch_office}' />
		<col id='rec_numero' label='${lbl:b_number}' />
		<col id='smn_cliente_rf_combo' label='${lbl:b_client}' />
		<col id='rec_fecha_generacion' label='${lbl:b_generation_date}' />
		<col id='rec_fecha_entrega' label='${lbl:b_delivery_date}' />
		<col id='rec_ejecutivo_recibe' label='${lbl:b_executive_reception}' />
		<col id='rec_estatus_combo' label='${lbl:b_status}' />
		<col id='rec_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
