<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<!--<col width='3%'/>-->
	<col width='25%'/>
	<col width='25%'/>
	<col width='25%'/>
	<col width='25%'/>


	<!--toolbar-->
	<tr>
		<th colspan="6" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<!--<th></th>-->
		<th class='sortable' onclick='sortBy("mdc_numero_doc_origen","query-smnrelcobdocumento.sql")'>${lbl:b_document_number}</th>
		<th class='sortable' onclick='sortBy("mdc_monto_ml","query-smnrelcobdocumento.sql")'>${lbl:b_amount_ml}</th>
		<th class='sortable' onclick='sortBy("mdc_monto_ma","query-smnrelcobdocumento.sql")'>${lbl:b_amount_ma}</th>
		<th class='sortable' onclick='sortBy("mdd_fecha_registro","query-smnrelcobdocumento.sql")'>${lbl:b_store_date}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_rel_cob_documento_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_rel_cob_documento_id}')" title="${lbl:b_delete_button}"></td>
		<!--<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_rel_cob_documento_id}')" title="${lbl:b_edit_button}"></td>-->
		<td>${fld:mdc_numero_doc_origen}</td>
		<td>${fld:mdc_monto_ml@#,###,##0.00}</td>
		<td>${fld:mdc_monto_ma@#,###,##0.00}</td>
		<td>${fld:mdc_fecha_registro@dd-MM-yyyy}</td>
	</tr>
	</rows>

</table>
