<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelcomisiones.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="8" cellStep="0" name="${lbl:b_commission_relations}"/>
	
	<excel 
		recordset='query-smnrelcomisiones.sql' 
		sheetname='${lbl:b_commission_relations}' 
		filename='${lbl:b_commission_relations}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_relacion_cobranza_id' label='${lbl:b_collection_relations}' />
		<col id='smn_reglas_comisiones_id' label='${lbl:b_commission_rules}' />
		<col id='smn_cliente_rf' label='${lbl:b_cliente}' />
		<col id='rol_tipo_pl3' label='${lbl:b_role}' />
		<col id='com_monto_relacion_ml' label='${lbl:b_relation_amount}' />
		<col id='smn_moneda_rf' label='${lbl:b_currency}' />
		<col id='com_monto_relacion_ma' label='${lbl:b_com_amount_ma}' />
		<col id='com_porcentaje' label='${lbl:b_percentage}' />
		<col id='com_monto_comision_ml' label='${lbl:b_comission_amount_ml}' />
		<col id='com_monto_comision_ma' label='${lbl:b_comission_amount_ma}' />
		<col id='com_estatus_proceso' label='${lbl:b_process_status}' />
		<col id='com_estatus_financiero' label='${lbl:b_financial_status}' />
		<col id='com_motivo_rechazo' label='${lbl:b_rejection_reason}' />
		<col id='com_idioma' label='${lbl:s_profile_lang}' />
		<col id='com_usuario' label='${lbl:b_users}' />
		<col id='com_fecha_registro' label='${lbl:b_store_date}' />
		<col id='com_hora' label='${lbl:s_loginhist_col2}' />

	</excel>

</config>
