<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-smncentrocobranza.sql" />
	<set-request-attribute id="paging.pagesize" value="10" />

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>cco_codigo</colname>
			<colname>cco_descripcion</colname>
			<colname>smn_rol_id</colname>
			<colname>smn_auxiliar_id</colname>
			<colname>rol_estatus</colname>
			<colname>rol_fecha_registro_desde</colname>
			<colname>rol_fecha_registro_hasta</colname>
		
		</cols>
		<table>smn_cobranzas.smn_centro_cobranza</table>
		<oper>CONSULTA</oper>
		<area>Consulta</area>
		<!-- 
 			para auditoria de consulta permite obtener la cantidad de registro obtenidos
 			de la busqueda (opcional)
 		-->
		<recordCount recordset="query-smncentrocobranza.sql"/>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<searchCols>cco_codigo;cco_descripcion;smn_rol_id;smn_auxiliar_id;rol_estatus;rol_fecha_registro_desde;rol_fecha_registro_hasta;</searchCols>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
