<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnmovdocumentocobcab.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_credit_note}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_credit_note}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='smn_cliente_rf' title='${lbl:b_client}' width='7' align='left' />
			<col name='smn_documento_id' title='${lbl:b_document}' width='7' align='left' format='######' />
			<col name='mdc_numero_doc_origen' title='${lbl:b_origin_doc_num}' width='7' align='left' format='######' />
			<col name='mdd_numero_documento' title='${lbl:b_document_number}' width='7' align='left' format='######' />
			<col name='mdd_estatus' title='${lbl:b_status}' width='7' align='left' />
			<col name='mdd_fecha_registro_ini' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='mdd_fecha_registro_fin' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnmovdocumentocobcab.sql' width='100' spacingBefore='10'>
			<col name='smn_cliente_rf_combo' title='${lbl:b_client}' width='7' align='left' />
			<col name='smn_documento_id_combo' title='${lbl:b_document}' width='7' align='left' format='######' />
			<col name='mdc_numero_doc_origen' title='${lbl:b_origin_doc_num}' width='7' align='left' format='######' />
			<col name='mdc_saldo_doc_ml' title='${lbl:b_balance_doc_ml}' width='7' align='left' format='#,###,##0.00' />
			<col name='smn_tipo_documento_id_combo' title='${lbl:b_document_type}' width='7' align='left' format='######' />
			<col name='mdd_numero_documento' title='${lbl:b_document_number}' width='7' align='left' format='######' />
			<col name='mdd_monto_ml' title='${lbl:b_net_amount_ml}' width='7' align='left' format='#,###,##0.00' />
			<col name='mdd_estatus' title='${lbl:b_status}' width='7' align='left' />
			<col name='mdd_fecha_registro' title='${lbl:b_store_date}' width='7' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
