<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnmovdocumentocobcab.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="8" cellStep="0" name="${lbl:b_credit_note}"/>
	
	<excel 
		recordset='query-smnmovdocumentocobcab.sql' 
		sheetname='${lbl:b_credit_note}' 
		filename='${lbl:b_credit_note}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_cliente_rf_combo' label='${lbl:b_client}' />
		<col id='smn_documento_id_combo' label='${lbl:b_document}' />
		<col id='mdc_numero_doc_origen' label='${lbl:b_origin_doc_num}' />
		<col id='mdc_numero_factura' label='${lbl:b_bill_number}' />
		<col id='mdc_saldo_doc_ml' label='${lbl:b_balance_doc_ml}' />
		<col id='smn_tipo_documento_id_combo' label='${lbl:b_document_type}' />
		<col id='mdd_numero_documento' label='${lbl:b_document_number}' />
		<col id='mdd_monto_ml' label='${lbl:b_net_amount_ml}' />
		<col id='mdd_estatus_combo' label='${lbl:b_status}' />
		<col id='mdd_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
