<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnmovdetdescuento.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="6" cellStep="0" name="${lbl:b_movement_detail_discounts}"/>
	
	<excel 
		recordset='query-smnmovdetdescuento.sql' 
		sheetname='${lbl:b_movement_detail_discounts}' 
		filename='${lbl:b_movement_detail_discounts}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='mdd_idioma_pl0' label='${lbl:b_movement_document_collection_detail}' />
		<col id='smn_codigo_descuento_id' label='${lbl:b_discount_code}' />
		<col id='mds_porcentaje' label='${lbl:b_percentage}' />
		<col id='mds_base' label='${lbl:b_base}' />
		<col id='mds_monto_descuento_ml' label='${lbl:b_discount_amount_ml}' />
		<col id='smn_moneda_rf' label='${lbl:b_coin}' />
		<col id='smn_tasa_rf' label='${lbl:b_rate}' />
		<col id='mds_monto_descuento_ma' label='${lbl:b_discount_amount_ma}' />
		<col id='mds_idioma' label='${lbl:s_profile_lang}' />
		<col id='mds_usuario' label='${lbl:b_users}' />
		<col id='mds_fecha_registro' label='${lbl:b_store_date}' />
		<col id='mds_hora' label='${lbl:s_loginhist_col2}' />

	</excel>

</config>
