<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Actualiza valores de un formulario en una tabla
	</summary>

	<log>false</log>

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_relacion_cobranza_id</colname>
			<colname>smn_reglas_comisiones_id</colname>
			<colname>smn_cliente_rf</colname>
			<colname>smn_rol_id</colname>
			<colname>com_monto_relacion_ml</colname>
			<colname>smn_moneda_rf</colname>
			<colname>com_monto_relacion_ma</colname>
			<colname>com_porcentaje</colname>
			<colname>com_monto_comision_ml</colname>
			<colname>com_monto_comision_ma</colname>
			<colname>com_estatus_proceso</colname>
			<colname>com_estatus_financiero</colname>
			<colname>com_motivo_rechazo</colname>
		
		</cols>
		<table>smn_cobranzas.smn_rel_comisiones</table>
		<oper>ACTUALIZAR</oper>
		<area>Carga de datos</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>id</pkey>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<query>update.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
	</output>

</config>
