<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
<!-- 	<col width='16%'/> -->
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>


	<!--toolbar-->
	<tr>
		<th colspan="6" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<!-- <th class='sortable' onclick='sortBy("smn_mov_det_descuento_id","query-smnmovdetdescuento.sql")'>${lbl:b_movement_document_collection_detail}</th> -->
		<th class='sortable' onclick='sortBy("smn_codigo_descuento_id","query-smnmovdetdescuento.sql")'>${lbl:b_discount_code}</th>
		<th class='sortable' onclick='sortBy("mds_porcentaje","query-smnmovdetdescuento.sql")'>${lbl:b_percentage}</th>
		<th class='sortable' onclick='sortBy("mds_base","query-smnmovdetdescuento.sql")'>${lbl:b_base}</th>
		<th class='sortable' onclick='sortBy("mds_monto_descuento_ml","query-smnmovdetdescuento.sql")'>${lbl:b_discount_amount_ml}</th>
		<th class='sortable' onclick='sortBy("mds_fecha_registro","query-smnmovdetdescuento.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_mov_det_descuento_id}')" title="${lbl:b_view_detail}"></td>
		<!-- <td>${fld:smn_mov_documento_cob_det_id}</td> -->
		<td>${fld:smn_codigo_descuento_id}</td>
		<td align='right'>${fld:mds_porcentaje@#,###,##0.00}</td>
		<td align='right'>${fld:mds_base@#,###,##0.00}</td>
		<td align='right'>${fld:mds_monto_descuento_ml@#,###,##0.00}</td>
		<td>${fld:mds_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
