<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncentrocobranza.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_collection_left}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_collection_left}">
				<col id='cco_codigo' label='${lbl:b_code}' />
		<col id='cco_descripcion' label='${lbl:b_description}' />
		<col id='smn_rol_id_combo' label='${lbl:b_role}' />
		<col id='smn_auxiliar_id_combo' label='${lbl:b_auxiliary}' />
		<col id='rol_estatus' label='${lbl:b_status}' />
		<col id='rol_idioma' label='${lbl:s_profile_lang}' />
		<col id='rol_usuario' label='${lbl:b_users}' />
		<col id='rol_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
